@charset"utf-8";
*{
    margin:0;
    padding:0;
}
body {
    /*font-family:"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;*/
    background-image: url("../images/flovis_background_image.jpg");
    background-size: cover;
    /*background-color: #acacac;*/
}

h1 {
    color: #6e6e6e;
    margin: 110px 0px 60px 50px;
    border-bottom: medium solid #acacac;
}

.content {
    width: 670px;
    height: 250px;
    margin: 0 auto;
    background-color: white;
}

.str1 {
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    padding-top: 65px;
    color: #ff4040;
}
.str2 {
    color: #6e6e6e;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 100;
    letter-spacing: 2px;
}

.btn {
    font-size: 30px;
    color: white;
    padding: 15px 260px;
    margin: 50px 0px 0px 320px;
    display: inline-block;
    text-decoration: none;
    background-color: #ef93b6;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 7px #e55089;
}

.btn:hover{
    background-color: #ff79af;
}

.btn:active{
    position: relative;
    top: 7px;
    box-shadow: none;
}