@charset"utf-8";
*{
    margin:0;
    padding:0;
}

body {
    background-image: url("../images/flovis_background_image.jpg");
    background-attachment: fixed;
    background-size: cover;
    /*height: 3000px;*/
}

h1 {
    color: #6e6e6e;
    margin: 110px 0px 60px 50px;
    border-bottom: medium solid #acacac;
}

.content {
    margin: 0 auto;
    width: 670px;
    height: 200px;
    /*opacity: 0;*/
    background-color: white;
}

p {
    /*padding-top: 20px;*/
    color: #6e6e6e;
    text-align: center;
    font-size: 25px;
    /*margin-top: 10px;*/
    font-weight: 100;
    /*letter-spacing: 2px;*/
}
.str1 {
    padding-top: 65px;
}




.btn {
    font-size: 30px;
    color: white;
    padding: 15px 260px;
    margin: 50px 0px 0px 320px;
    display: inline-block;
    text-decoration: none;
    background-color: #ef93b6;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 7px #e55089;
}